/* #projects div {
   border: solid black 1px;
} */

#projects {
   display: grid;
   grid-template-rows: 20vh 70vh;
}

.project-cont {
   margin: 5vh 10vw;
   height: 100%;
   display: grid;
   grid-template-rows: 10% 90%;   
}

.project-cont .project-types {
   display: grid;
   grid-template-columns: 10% repeat(4, 20%) 10%;
}

.project-cont .project-types .highlight {
   background-color: #E8A87C;
   color: white;
   margin: 1vh 1vw;
}

.project-types div {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   letter-spacing: 1px;
   cursor: pointer;
}

.projects-disp {
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 50%);
}

.projects-disp div {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   cursor: pointer;
   overflow: hidden;
   position: relative;
}

.projects-disp div img {
   width: 100%;
   transition: opacity 1s;
   /* height: 100%; */
}

.projects-disp div img.fade-out {
   opacity: 0;
}

.projects-disp div img.fade-in {
   opacity: 1;
}

.projects-disp div div {
   position: absolute;
   border: solid 1px black;
}

.projects-disp div .text {
   display: grid;
   top: 20%;
   grid-template-rows: 50% 50%;
   grid-template-columns: 100%;
   height: 20%;
   width: 100%;
}

.projects-disp div .btn {
   top: 70%;
   padding: 3% 5%;
   border: solid 2px #E8A87C;
}

.text div {
   margin: 0 auto;
   width: 100%;
}

.text .bold {
   grid-row: 1/2;
   font-size: 20px;
}

.text .language {
   grid-row: 2/3;
   color: #E8A87C;
}
