.App {
  text-align: center;
}

.section {
  height: 100vh;
}

h1 {
  font-family: 'Questrial';
  letter-spacing: 1px;
  margin-bottom: 1vh;
}

.header {
  padding-top: 5vh;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #41B3A3;
}

#navbar {
  display: grid;
  height: 7vh;
  grid-template-columns: repeat(5, 9vw) auto;
  background: rgb(199, 111, 139);
  border-bottom: solid 3px #00afd6;
  color: white
}

#navbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s ease;
}

#navbar div:hover {
  color: #E8A87C;
}

#projects, #contact {
  background: whitesmoke;
}

.stick {
  position: sticky;
  top: 0;
}

.highlight {
  color: #E8A87C;
}